// Base properties for location pin 

.location-pin-base {
    width: 58px;
    height: auto;
    position: absolute;

    @media @bp_max_850 {
        width: 36px;
    }

    @media @bp_max_480 {
        width: 25px;
    }
}