// === reset ===
@import "default/reset";

// === variables ===
@import "variables/variables";
@import "variables/breakpoints";
@import (optional) "font-icons/font-icons-variables";

// === mixins ===
@import "mixins/mixins";
@import "mixins/triangle";
@import "mixins/project-mixins";

// === typography ===
@import "styles/typography";
@import (optional) "font-icons/font-icons";

// === default styles ===
@import "styles/forms";
@import "styles/tables";
@import "styles/lists";

// === plugins ===
//@import "plugins/select2-4.0.5/select2";
//@import "plugins/select2-4.0.5/select2-theme-form";

@import "site/site";

// === components ===

@import "site/components/buttons";

// === modules ===
@import "site/default/header";
@import "site/default/footer";
@import "site/default/navigation";
@import "site/default/main";

//@import "site/modules/modules/module";
//@import "site/modules/modules/content-module";

// === layouts ===
@import "site/layouts/homepage";

@import (optional, reference) "icons/icons-png-fallback";
@import (optional, reference) "icons/icons-svg-data";

// === print ===
@media print {
	@import "default/print";
}

.map {
	overflow: hidden;
	position: relative;

	@media @bp_max_640 {
		margin-left: -40vw;
		margin-right: -40vw;
	}

	@media @bp_max_480 {
		margin-left: -70vw;
		margin-right: -70vw;
	}
}

.map img {
	display: block;
	width: 100%;
	object-fit: cover;
}

.location-pin {
	width: 58px;
	height: auto;
	position: absolute;
	.translate(@x: -50%, @y: -50%);

	&:hover {
		.scale
	}

	@media @bp_max_480 {
		width: 25px;
	}
}

.scale {
	transform: translate(-50%, -50%) scale(1.15);
}

.pin-number {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	.translate(@x: -50%, @y: -50%);
}

.location-list {
	list-style: none;
	padding: 0;
	position: absolute;
	left: 65%;
	top: 20%
}

// .location-name {
// }

.underline {
	text-decoration: underline
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}


.location-info-wrapper {
	width: 83%;
	display: inline-flex;
	margin-bottom: 65px;

	div {
		margin: 0 10px 0 10px;
	}

	@media @bp_max_640 {
		div {
			margin: 0;
		}

		display: block;
		width: 100%
	}
}

.location-title {
	flex: 1;
}

.location-info {
	flex: 1;
}

.location {
	margin-bottom: 165px;
}

h2 {
	line-height: 1.3;
	font-size: 72px;
	color: @text-gold;
}

p {
	line-height: 1.4;
	font-size: 19px;
	font-family: 'Roboto', sans-serif;
	color: @text-gray;
}