h1,
h2 {
  font-family: 'CircularPro-Bold';
}
body {
  font-family: 'Roboto', sans-serif;
}
.underline {
  text-decoration: underline;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
