h1,
h2 {
    font-family: 'CircularPro-Bold';
}

body {
    background-color: @backgroundcolor;
    font-family: 'Roboto', sans-serif;
}

p {
    line-height: 1.4;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    color: @textgray;
}