footer {
    padding: 56px 0 31px 0;
    background: @basecolor;

    @media @bp_max_768 {
        padding-top: 29px;
    }
}

// Contact, contact-form, footer-logo are displayed inline,
// on smaller screens they are displayed vertically and they 
// have a different order.

.info-contact {
    display: grid;
    grid-template-columns: 25% 32% 1fr;
    grid-template-rows: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "contact contact-form footer-logo";

    @media @bp_max_1200 {
        grid-template-columns: 33% 47% 1fr;
    }

    @media @bp_max_850 {
        grid-gap: 34px;
        gap: 34px;
        grid-template-columns: 74%;
        grid-template-rows: min-content min-content min-content;
        grid-template-areas: "contact-form""contact""footer-logo";

    }
}


// * contact

.contact {
    grid-area: contact;

    p {
        padding-right: 16px;
        color: #fff;
        opacity: 0.9;
        font-weight: 200;

        @media @bp_max_768 {
            font-size: 13px;
        }
    }

}

.social {
    img {
        width: 45px;
        margin-right: 11px;
        padding-top: 47px;

        @media @bp_max_768 {
            width: 34px;
            padding-top: 22px
        }
    }
}


// * form

.contact-form {
    grid-area: contact-form;

    h3 {
        color: #fff;
        opacity: 0.9;
        font-size: 31px;
        .font-circularpro;
        margin-bottom: 15px;

        @media @bp_max_480 {
            font-size: 20px;
        }
    }

    p {
        color: @buttoncolor;
        font-size: 16;
        margin-bottom: 24px;

        @media @bp_max_480 {
            font-size: 13;
        }
    }
}


// * logo

.footer-logo {
    grid-area: footer-logo;
    position: relative;

    img {
        position: absolute;
        bottom: 0%;
        right: 0%;

        @media @bp_max_1200 {
            width: 133px;

        }

        @media @bp_max_850 {
            position: static;
        }
    }
}


// On smaller size screens form is replaced with a
// contact-us button. 


.contact-us-cta-button {
    @media @bp_max_480 {
        .visible;
        display: block;
    }
}

.footer-form {
    @media @bp_max_480 {
        .hidden
    }
}


// Bottom of footer

.copyrights-credit {
    .clearfix;
    margin-top: 56;

    @media @bp_max_768 {
        margin-top: 40;
    }
}

//Basic copyrights and credits properties

.copyrights-credit-base {
    opacity: 0.6;

    p {
        color: #fff;
        font-size: 14px;

        @media @bp_max_768 {
            font-size: 9px;
        }
    }
}

// On wider size screes copyrights and credit are displayed inline,
// on smaller size screens they are aligned vertically.

.copyrights {
    .copyrights-credit-base;
    float: left;

    @media @bp_max_768 {
        float: none;
        margin-bottom: 8px;
        opacity: 1;
    }
}

.credit {
    .copyrights-credit-base;
    float: right;

    @media @bp_max_768 {
        float: none;
    }
}