nav {
    font-family: 'Poppins', sans-serif;
    padding: 20px 0 20px 0;
    width: 100%;
    top: 35px;
    color: #ffffff;
    position: absolute;
    z-index: 99;
}

nav ul {
    float: right;
}

nav ul li {
    font-size: 16px;
    float: left;
    margin-left: 24px;
}

.nav-fixed {
    transition: background 0.6s;
    position: fixed;
    top: 0;
    background: @main-green;
}
