nav {
    font-family: 'Poppins', sans-serif;
    padding: 17px 0 17px 0;
    width: 100%;
    top: 35px;
    color: #ffffff;
    position: absolute;
    z-index: 99;

    @media @bp_max_680 {
        .hidden
    }
}

nav ul {
    float: right;
}

nav ul li {
    font-size: 16px;
    float: left;
    margin-left: 24px;

    span {
        .margin-l-r(5px)
    }
}

.nav-logo {
    display: block;
    float: left;
    opacity: 0;

    img {
        margin-top: 1px;
        display: block;
    }
}

.nav-fixed {
    transition-property: background, opacity;
    transition-duration: 0.4s;
    position: fixed;
    top: 0;
    background: @basecolor;

    .nav-logo {
        opacity: 1;
    }
}

.nav-active {
    border-bottom: 1px solid #ffffff;
    z-index: 99;
}