// Nav hides on small devices. 

nav {
    padding: 17px 0 17px 0;
    width: 100%;
    top: 35px;
    position: absolute;
    z-index: 99;

    @media @bp_max_680 {
        .hidden
    }
}

.nav-elements {
    float: right;

    li {
        float: left;
        margin-left: 24px;
        color: #ffffff;
        .font-poppins;
        font-size: 16px;
        font-weight: 300;

        a {
            text-decoration: inherit;
            color: inherit;
        }

        span {
            .margin-l-r(5px)
        }
    }
}

// Nav logo is transparent and is made visible, when scrolling down. 

.nav-logo {
    display: block;
    float: left;
    opacity: 0;

    img {
        margin-top: 1px;
        display: block;
    }
}

// This class is appended (with JS) to navigation,
// when scrolled down 

.nav-fixed {
    transition-property: background;
    transition-duration: 0.4s;
    position: fixed;
    top: 0;
    background: @basecolor;

    .nav-logo {
        transition-property: opacity;
        transition-duration: 0.4s;
        opacity: 1;
    }
}