.map {
    overflow: hidden;
    position: relative;

    @media @bp_max_850 {
        .margin-l-r(-20vw)
    }

    @media @bp_max_640 {
        .margin-l-r(-45vw)
    }

    @media @bp_max_480 {
        .margin-l-r(-70vw)
    }
}

.map img {
    display: block;
    width: 100%;
    object-fit: cover;
}


.location-pin-base {
    width: 58px;
    height: auto;
    position: absolute;
    .translate(@x: -50%, @y: -50%);

    @media @bp_max_850 {
        width: 36px;
    }

    @media @bp_max_480 {
        width: 25px;
    }

}

.location-pin-main {
    .location-pin-base;
}

.location-pin {
    .location-pin-base;

    &:hover {
        .scale-pin
    }
}

.scale-pin {
    transform: translate(-50%, -50%) scale(1.15);
}

.pin-number {
    user-select: none;
    cursor: default;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    .translate(@x: -50%, @y: -50%);

    @media @bp_max_850 {
        .hidden
    }
}

.location-list {
    color: #b620e0;
    list-style: none;
    padding: 0;
    position: absolute;
    left: 80%;
    top: 50%;
    .translate(@x: 0, @y: -50%);

    @media @bp_max_850 {
        .hidden
    }
}

.location-info-wrapper {
    width: 83%;
    display: inline-flex;
    margin-bottom: 65px;

    @media @bp_max_768 {
        width: 100%;
        margin-bottom: 40px;
    }

    @media @bp_max_1024 {
        display: inline-block;
    }

    @media @bp_max_1200 {}

    &>* {
        .align-left
    }
}

.location-title {
    flex: 1;
}

.location-info {
    flex: 1;

    p {
        line-height: 1.4;
        font-size: 19px;
        font-family: 'Roboto', sans-serif;
        color: @textgray;
        padding-right: 22%;

        @media @bp_max_768 {

            font-size: 13px;
        }

        @media @bp_max_480 {
            padding-right: 0;
        }
    }
}


.location {
    margin-bottom: 165px;

    @media @bp_max_768 {
        margin-bottom: 70px;
    }
}

h2 {
    margin-bottom: 5px;
    line-height: 1.4;
    font-size: 72px;
    color: @textgold;

    @media @bp_max_768 {
        font-size: 48px;
    }

    @media @bp_max_480 {
        font-size: 30px;
    }
}


.location-name {
    cursor: default;

    &:hover {
        .underline
    }
}