// Adds margin between slick-slider elements
.slick-slide {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}


// Fix for slick slide height issues
.slick-track {
    display: flex;
}

.slick-track .slick-slide {
    display: flex;
    height: auto;
}

.slider-img {
    width: 100%;
}

// Image slider has a nav with a heading positioned left
// and buttons positioned right

.slider-nav {
    .clearfix;
    position: relative;
    margin-bottom: 30px;

    @media @bp_max_768 {
        margin-bottom: 20px;
    }
}

.slider-nav-heading {
    float: left;
    position: absolute;
    bottom: 0;

    h4 {
        .font-poppins;
        font-weight: 300;
        font-size: 23px;
        color: @textgold;

        @media @bp_max_640 {
            font-size: 13px;
        }
    }
}

.slider-nav-buttons {
    float: right;
}

.slick-disabled {
    cursor: default;
    background: #fff;

    &:hover {
        background: #fff;
    }
}

.slick-element {
    margin-bottom: 20px;

    @media @bp_max_768 {
        margin-bottom: -10px;
    }
}