//Adds margin between slick-slider elements
.slick-slide {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}


// Fix for slick slide height issues
.slick-track {
    display: flex;
}

// .slick-track .slick-slide {
//     // display: flex;
//     // height: auto;
// }


.slider-img {
    width: 100%;
}

.slider-nav-heading {
    float: left;
    position: absolute;
    bottom: 0;

    h4 {
        .font-poppins;
        font-weight: 300;
        font-size: 23px;
        color: @textgold;

        @media @bp_max_640 {
            font-size: 13px;
        }
    }
}

.slider-nav-buttons {
    float: right;
}

.slider-button {
    cursor: pointer;
    .wh(90px, 60px);

    @media @bp_max_640 {
        .wh(60px, 30px);

        img {
            width: 10px;
        }
    }

    padding: 0;
    margin: 0;
    border: none;
    background-color: @buttoncolor-lighter;
    outline: none;
    float: left;

    &:hover {
        background: @buttoncolor;
    }

    img {
        width: 16px;
    }
}


.slick-disabled {
    cursor: default;
    background: #fff;

    &:hover {
        background: #fff;
    }
}

.slider-nav {
    .clearfix;
    position: relative;
    margin-bottom: 30px;
}

.slick-element {
    position: relative;
}

.card {
    display: block;
    float: right;
    background: @backgroundcolor;
    position: relative;
    width: 74%;
    top: -64px;

    @media @bp_max_768 {
        top: -38px;
        // padding: 9px 9px;
    }

    p {
        font-size: 15px;

        @media @bp_max_768 {
            font-size: 12px;
        }
    }
}

.card-header {
    .clearfix;
    padding-bottom: 10px;
    cursor: pointer;
    margin: 30px 20px 10px 20px;
    position: relative;

    @media @bp_max_768 {
        margin: 9px
    }

    h3 {
        color: @textgold;
        float: left;
        font-weight: 500;
        .font-poppins;
        font-size: 30px;

        @media @bp_max_768 {
            font-size: 17px;
        }
    }

    &:hover {
        h3 {
            .underline
        }

        .card-button {
            .visible
        }


    }
}

.card-opened {
    .card-button-sign-vertical-line {
        .invisible;
    }

    .card-text {
        .visible;
        display: block;
    }

    .card-button {
        .visible;
    }
}

.card-button {
    .invisible;
    background: #fff;
    border-radius: 50%;
    .wh(40px, 40px);
    // float: right;
    border: none;
    // position: relative;
    position: absolute;
    right: 0;

    @media @bp_max_768 {
        .wh(30px, 30px);
        margin-right: 11px;
    }
}

.card-button-sign-base {
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    .translate-center;
}

.card-button-sign-minus {
    .card-button-sign-base;
    .wh(11px, 1px);
}

.card-button-sign-vertical-line {
    .card-button-sign-base;
    .wh(1px, 11px);
}

.card-text {
    padding: 0px 20px 10px 20px;

    @media @bp_max_768 {
        padding: 0 9px 9px 9px;
    }

    .hidden;
}